PORT=8080
MONGO_URI=your_mongodb_connection_string
SECRET_KEY=your_secret_key
BACKEND_URL=http://localhost:8080
FRONTEND_URL=http://localhost:5173

# cloudinary setup
API_KEY=your_cloudinary_api_key
API_SECRET=your_cloudinary_secret
CLOUD_NAME=your_cloud_name

# jwt secret key
JWT_SECRET=your_jwt_secret

# stripe
STRIPE_SECRET_KEY=your_stripe_secret
STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key

# eSewa
ESEWA_MERCHANT_ID=your_merchant_id
ESEWA_SECRET_KEY=your_secret_key
ESEWA_CLIENT_ID=your_client_id
ESEWA_CLIENT_SECRET=your_client_secret
ESEWA_PAYMENT_URL=https://rc-epay.esewa.com.np/api/epay/main
ESEWA_VERIFY_URL=https://rc-epay.esewa.com.np/api/epay/transaction/status/
